.root {
  /*-fx-background-image: url("turtle-image.jpg");*/
  -fx-background-color: #012169;
}

.scene {
  -fx-background-color: #012169;
}

.combo-box {
  -fx-font-size: 12px;
  -fx-fill: #702121;
  -fx-text-fill: white;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#e5aea2, #EF350E);
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #333333;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#dropdown-label {
  -fx-text-fill: #012169;
  -fx-font-weight: bold;
}

#control-panel {
  -fx-fill: grey;
}

.button {
  -fx-text-fill: white;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#e5aea2, #EF350E);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

.button:hover {
  -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

#dead-cell-view {
  -fx-fill: black;
  -fx-stroke: white;
  /*-fx-stroke-width: 1;*/
}

#boundary-line {
  -fx-stroke: white;
  -fx-stroke-width: 3;
}

#information-label {
  -fx-font-family: "Arial";
  /*-fx-font-weight: medium;*/
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-text-fill: yellow;
}

#information-text {
  -fx-font-family: "Arial";
  -fx-font-size: 12px;
  -fx-text-fill: white;
  -fx-stroke: white;
}