.root {
  /*-fx-background-image: url("turtle-image.jpg");*/
  -fx-background-color: #012169;
}


.scene {
  -fx-background-color: #012169;
}

#game-selection-button {
  -fx-text-fill: white;
  -fx-font-family: "Arial";
  -fx-font-weight: bold;
  -fx-background-color: linear-gradient(#e5aea2, #EF350E);
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0.0, 0, 1);
}

#game-selection-button:hover {
  -fx-background-color: linear-gradient(#1EE743, #E61FCE);
}

#main-title-label {
  -fx-font-family: "Arial";
  -fx-font-size: 24px;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}
