.root {
  /*-fx-background-image: url("turtle-image.jpg");*/
  -fx-background-color: #012169;
}

.scene {
  -fx-background-color: #012169;
}


.label {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #333333;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1);
}

#population-chart-caption {
  -fx-font-size: 24px;
  -fx-font-family: Arial;
  -fx-text-fill: white;
}